.test{width: 100%; padding: 20px,50px !important;}    
input[type='checkbox']{
    width: 10%;
}

.fc-day-grid-event .fc-time{
   display : none !important;
}
.erromessage{ color: #D4AF37;
    font-size: 16px;
font-family: "Anaheim", sans-serif;}

.centerContent{
  
width: 100%;
   
    margin: 0 auto;
   
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    padding-top: 50px;
  
}
.lables{color: white; font-size: 16px;}


.hero-area{
	height:100%;
	background:none;
}

.section{
	padding:30px;
}

.videoContent {
  position: absolute;
  bottom: 0;
  right:0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

#myVideo, #landingPhoto{
	margin-top: 10%;
	width: 100%;
}

header{
	z-index: 10;
}

#logo{
	height:100%;
}

.videoStart{
  position: relative;
  background-color: black;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videoStart .container{
  position: relative;
  z-index: 2;
  margin-top: 2%;
}

.videoStart .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


#register-btn{
	margin-top: 2%;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	border: 1px solid white;
}


.text-white, .text-white h1{
	font-size: 60px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
}

#register-btn ~ p{
	font-size: 20px;
	font-weight: 300;
}
.modal-dialog{
	width: 90%;
}

.phone {
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
    color: #D4AF37;
}

.BTlogo{
	align-items:right;
}

.about-2 .content-block{
	padding-top:0!important;
	padding-left: 20px!important;
	margin-top: -20px;
}

#portfolio.section{
	padding-top: 15px;
}

.btn-primary, .btn-secondary {
	border-color:#D4AF37;
	background-color:#737f8a;
	color:#D4AF37;
	border-radius: 50%;
}

.btn-primary:hover, .btn-secondary:hover, .nextBtn:hover{
	background-color:#D4AF37;
	border-color:#FFDF00;
	color:#737f8a;
}

.btn-primary:focus, .btn-secondary:focus, .nextBtn:focus{
    border-color:#D4AF37;
	background-color:#737f8a;
	color:#D4AF37;
}

.mySlides, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7 {
	width:100%;
}

#contact-submit-new {
    border: 1px solid rgba(236, 239, 241, 0.07);
    background: #D4AF37;
    padding: 12px 0;
    width: 100%;
    margin: 0;
	}
	
#whyChoose{
    list-style-type:disc;
}

button.w3-display-left{
	position:absolute;
	top:50%;
	left:0;
	background-color:#737f8a;
	color:#FFDF00;
	border-radius: 10px;
	border-color: #737f8a;
}
button.w3-display-right{
	position:absolute;
	top:50%;
	right:0;
	background-color:#737f8a;
	color:#FFDF00;
	border-radius: 10px;
	border-color: #737f8a;
}

.modal-content{
	width: 68%;
	position: relative;
	left: 16%;
}

.modal-title{
	display: inline-block;
	margin-top: 1.5%;
}

.closeCarous{
	float:right;
	display:inline-block;
}

.btn-secondaryk{
	margin-right: 5%;
}


#limo_btn:hover {
	border-color:#D4AF37;
	background-color:#737f8a;
	color:#D4AF37;
	cursor: context-menu;;
}

#reg-contact-form .lead{
    color: white;
}

#reg-contact-form{
    margin-top:8%;
}

#email{
    margin-left:25%;
    width:50%;
}

.modal-content{
    background-image: linear-gradient(to bottom right, #737f8a, #b7c0c9);
}

.modal-title{
    color: #D4AF37;
    font-weight: 500;
    font-size: larger;
}


@media (pointer: coarse) and (hover: none) {
  .videoStart {
    background: url('../images/backgrounds/telefon.jpg') black no-repeat center center scroll;
  }
  .videoStart video {
    display: none;
  }
  
  header{
      width:100%!important;
  }
  
  .phone{
      font-size:medium;
      display:inline-block;
      margin-top:1.5%;
      margin-right:0;
  }
  
  #navigation-sticky-wrapper{
      height:10%!important;
      font-size:smaller;
  }
  
  .navbar-collapse{
      padding-right:0;
      padding-left:0;
      margin-right:-15px!important;
      margin-left:15px!important;
  }
  
 #navigation .container{
     width:100%!important;
     padding-right:1%;
     padding-left:0;
 }
 
 #portfolio.section{
     padding:0;
 }
  
}

.modal-header{
    padding: 0.7% 3%;
}

.container > .navbar-collapse{
    margin-right: -5%;
}

.content{
    display:none;
}

.collapsible{
    text-decoration: underline;
    cursor:pointer;
}

.content-block{
    font-size: 15px;
}

#stepDiv{
    margin-left: 10%;
    height: 470px;
}

#step-1 p:first-child{
    color: #D4AF37;
}

.carsMini{
    display: inline-block;
    margin-right:2%;
}

.datepickers{
    display: inline-block;
    margin: 2% 7% 0 5%;
    color: #D4AF37;
}

.errorMessage {
    font-weight: bold;
    background-color: lightgrey;
    color: red;
    text-align: center;
    display: block;
    margin-right:13%;
    margin-top:2%;
}

.nextBtn{
    display: block;
    margin: 0 auto;
    font-size: 18px;
    border-color:#D4AF37;
    background-color:#737f8a;
    color:#D4AF37;
}

.steps{
    color: #D4AF37;
    text-align:center;
    margin-top:5%;
}

.agreement{
    display:block;
    width:50%;
    margin-left:25%;
}

table, th, td {
    border: 1px solid #D4AF37;
    color: white;
}

th, td {
  padding: 10px;
}

.centerText{
    color: #D4AF37;
    text-align: center;
}