input[type='checkbox']{
    width: 10%;
}
.erromessage{ color: #D4AF37;
    font-size: 16px;
font-family: "Anaheim", sans-serif;}

.centerContent{
  
width: 100%;
   
    margin: 0 auto;
   
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    padding-top: 50px;
  
}
.lables{color: white; font-size: 16px;}

