{% extends "master.html.twig" %}
{% block headAdd %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Calendar
        </title>
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- FullCalendar -->
        <link href='css/fullcalendar.css' rel='stylesheet' />
        <link rel="shortcut icon" href="#" />
        
        <!-- Custom CSS -->
        <style>
           
            #calendar {
                max-width: 800px;
            }
            .col-centered{
                float: none;
                margin: 0 auto;
            }
        </style>


{% endblock headAdd %}

{% block content %}
   
    
    <div class="centerContent">
       {% if user.isAdmin %} 
  <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">

                    <div id="calendar" class="col-centered">

                    </div>
                </div>

            </div>


        </div>
        <!-- /.container -->

        <!-- jQuery Version 1.11.1 -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- FullCalendar -->

        <script src='/js/moment.min.js'></script>
        <script src='/js/fullcalendar.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>


            //
         
            function createCalendar() {
                $.ajax({
                    url: '/project.php/calendrierF',
                    type: 'GET',
                    dataType: 'json'
                }).done(function (carAvailbility) {

                    $('#calendar').fullCalendar({

                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay'
                        },
                        defaultDate: new Date(),
                        editable: false,
                        eventLimit: true,                            // allow "more" link when too many events
                        selectable: false,
                        selectHelper: true,
                        events: carAvailbility
                    });
                });
            }
               $(document).ready(function () {

                createCalendar();
               $('.fc-time').hide();
            });

        </script>

        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script>
        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery.min.js'></script>
        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery-ui.min.js'></script>
        <script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js'></script>

       

{% else %}
<p class="centerContent">You do not have access</p>
{% endif %}


    </div>
    {% endblock content %}
