{% extends "master.html.twig" %}
{% block headAdd %}
        <script>
            $(document).ready(function() {
     
                $('select[name=month]').on("change", function(){
                var selectedMonth = $('#monthList option:selected').val();          
                $('#createChart').load("/firstchart/"+selectedMonth);

             
    });
                   
                    
             
            });
        </script>
{% endblock headAdd %}

{% block content %}
{% if user.isAdmin %}
 <div class="centerContent">
    
  <select name="month" id='monthList'>
 <option value="" >Select a Month</option>         
  <option value="1" >JAN</option>
  <option value="2" >FEB</option>
  <option value="3">APR</option>
  <option value="4" >MAR</option>
  <option value="5">MAY</option>
  <option value="6">JUN</option>
  <option value="7">JUL</option>
  <option value="8">AUG</option>
  <option value="9">SEP</option>
   <option value="10">OCT</option>
   <option value="11">NOV</option>
    <option value="12">DEC</option>
</select>
 </div>
    <div class="centerContent">
      
      
        <span id="createChart"></span>
    </div>
{% else %}
<p class="centerContent">You do not have access</p>


{% endif %}
    

       
    {% endblock content %}
