{% extends "master.html.twig" %}

{% block content %}
    <div class="centerContent">
    {% if error %}

            <p class="erromessage">Invalid login credentials, try again or <a href="/signup">Sign up</a></p>

        {% endif %}
    </div>
    
    <div class="centerContent">
        

        <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
            <form id="contact-form" method="post" role="form">

                <div class="form-group">
                    <input class="form-control" placeholder="Email" type="email" name="email" size="50">

                </div>

                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password"  name="password" size="50" ><br>

                </div>					
                <div >						
                    <input id="contact-submit-new" class="btn btn-transparent" type="submit" value="Login">					
                </div>
            </form>





        </div>
    </div>
    {% endblock content %}
