{% extends "master.html.twig" %}

{% block content %}
<div class="centerContent">
    {% if user.isAdmin %}
      <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
    <form   action="/calendar">
    <input id="contact-submit-new" class="btn btn-transparent"  type="submit" value="Calendar" />
    </form>
          
   
   
    <form  action="/chart">
    <input  id="contact-submit-new" class="btn btn-transparent" type="submit" value="Chart" />
    </form>
    
    
    </div>
    {% else %}
<p class="centerContent">You do not have access</p>

{% endif %}
    
</div>
{% endblock content %}
