{% extends "master.html.twig" %}
{% block content %}
    <div class="centerContent">   
            <p>The agreement was created successfully. Click <a href="/"> here </a> to continue.</p>
    </div>
{% endblock content %}
