{% extends "master.html.twig" %}
{% block headAdd %}
        <script>
            $(document).ready(function() {
                $('input[name=email]').keyup(function() {
                    var email = $('input[name=email]').val();
                    $('#isTaken').load("/isemailregistered/" + email);
                });
            });
        </script>
{% endblock headAdd %}

{% block content %}
    <div class="centerContent">
    {% if error %}

            <p class="erromessage">Invalid login credentials, try again or <a href="/register">register</a></p>

        {% endif %}
    </div>
    <div class="centerContent">
        

        <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
            <form id="contact-form" method="post" role="form">

                <div class="form-group">
					<input class="form-control" placeholder="Email" value="{{v.email}}" type="text" name="email" size="50">
                                         <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList['email']}}
                                                          {% endif %}
                                                      </span>
                                                      <span class="errorMessage" id="isTaken"></span>
					</div>
                                     <div class="form-group">
						<input class="form-control" placeholder="Password"  type="password" name="pass1" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.pass1}}
                                                          {% endif %}
                                                      </span>
					</div>
                                     <div class="form-group">
					<input class="form-control" placeholder="Password(repeated)" type="password" name="pass2" size="50" >
                                        <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.pass2}}
                                                          {% endif %}
                                                      </span>
					</div>
                <div >						
                    <input id="contact-submit-new" class="btn btn-transparent" type="submit" value="Sign up">					
                </div>
            </form>





        </div>
    {% endblock content %}
