{% extends "master.html.twig" %}

{% block content %}
    <h2 class="steps">Step 2</h2>
    <form class="centerContent" method='post'>
            <div id="stepDiv">
                <p>Sorry, but the car you have selected is not available during the time period chosen. Please, choose one of the following available during requested time cars or<a href="/booking"> click here</a> to change the rental dates.</p>
                <p>Choose the car:</p>
                {% for auto in availableCarsList %}
                    <p class="carsMini">
                        <input type="radio" name="newCarId" value="{{auto.id}}" {% if auto.id==selectedId %} checked {% endif %}>{{auto.make}} {{auto.model}} {{auto.year}}<br>
                        <img src="{{auto.pathPhoto}}" height="100"><br>
                    </p>
                {% endfor %}
                <br><span class="erromessage">
                        {{error}}
                </span><br>
                
                <input type="submit" value="Next" class="nextBtn">
            </div>
</form>
{% endblock content %}