{% extends "master.html.twig" %}

{% block content %}
    <form class="centerContent" method='post'>
            <div id="step-1">
                <p>Choose the car:</p>
                {% for auto in carsList %}
                    <p class="carsMini">
                        <input type="radio" name="carId" value="{{auto.id}}" {% if auto.id==selectedId %} checked {% endif %}>{{auto.make}} {{auto.model}} {{auto.year}}<br>
                        <img src="{{auto.pathPhoto}}" height="100"><br>
                    </p>
                {% endfor %}
                <br><span class="erromessage">
                        {% if errorList %}
                            {{errorList.carId}}
                        {% endif %}
                </span><br>
                    
                 <p class="datepickers">Pick up date: <input type="date" id="pickUp" name="pickUpDate"  min="{{today}}" value="{{v.pickUpDate}}" required></p>
                    
                <p class="datepickers"> Pick up time: <select name="pickUpTime" id="pickUpTime">
                    {% for i in 8..22 %}
                        <option value="{{i}}">{{i}}:00</option>
                    {% endfor %}        
                    </select>
                    
                <p class="datepickers">Return date: <input type="date" id="return" name="returnDate" min="{{tomorrow}}" value="{{v.returnDate}}" required></p>
                <br><span class="erromessage">
                        {% if errorList %}
                            {{errorList.dates}}
                        {% endif %}
                </span><br>
                <input type="submit" value="Next" class="nextBtn">
            </div>
</form>
                        
                        
{% endblock content %}