{% extends "master.html.twig" %}

{% block content %}
    
    <div class="centerContent ">
         
        
        
        <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" method="post"  role="form">
								
					<div class="form-group">
						  <input class="form-control" value="{{v.userFName}}" placeholder="First name" type="text" name="userFName" size="20">
                                                  <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.fName}}
                                                          {% endif %}
                                                      </span>
					</div>
					
					<div class="form-group">
						<input class="form-control" value="{{v.userLName}}" placeholder="Last name" type="text" name="userLName" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.lName}}
                                                          {% endif %}
                                                      </span>
					</div>
					
					<div class="form-group">
						<input class="form-control" value="{{v.driverLicense}}" placeholder="Driver license" type="text" name="driverLicense" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.driverLicense}}
                                                         {{errorList.driverLicenseExist}}
                                                          {% endif %}
                                                      </span>
                                        </div>
					
					<div class="form-group">
						<input class="form-control" value="{{v.address}}" placeholder="Address" type="text" name="address" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.address}}
                                                          {% endif %}
                                                      </span>
					</div>
					
					<div class="form-group">
						<input class="form-control" value="{{v.city}}" placeholder="City" type="text" name="city" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.city}}
                                                          {% endif %}
                                                      </span>
					</div>
                                    <div class="form-group">
						<input class="form-control" value="{{v.province}}"  placeholder="Province" type="text" name="province" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.province}}
                                                          {% endif %}
                                                      </span>
					</div>
                                    <div class="form-group">
						<input class="form-control" value="{{v.country}}" placeholder="Country" type="text" name="country" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.country}}
                                                          {% endif %}
                                                      </span>
					</div>
                                    <div class="form-group">
						<input class="form-control" value="{{v.postalCode}}" placeholder="Postal code" type="text" name="postalCode" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.postalCode}}
                                                          {% endif %}
                                                      </span>
					</div>
                                     <div class="form-group">
						<input class="form-control" value="{{v.phoneNumber}}" placeholder="Phone number" type="text" name="phoneNumber" size="50">
                                                <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList.phoneNumber}}
                                                          {% endif %}
                                                      </span>
					</div>
                                     <div class="form-group">
					<input class="form-control" placeholder="Email" value="{{v.email}}" type="text" name="email" size="50">
                                         <span class="erromessage">
                                                      {% if errorList %}
                                                         {{errorList['email']}}
                                                          {% endif %}
                                                      </span>
                                                      <span class="errorMessage" id="isTaken"></span>
					</div>
                                     
                                     <div class="form-group">
                                         <input class=""  type="checkbox" name="mailerConsent" {{v.mailerConsent ? 'checked' : ''}}><span class="lables">Mailer consent<span> 
					</div> 
					
					<div id="cf-submit">
						 <input id="contact-submit-new" class="btn btn-transparent" type="submit" value="Next">
                                        </div>					
				</form>
		

    </div>
    </div>
{% endblock content %}
